body {
    background-color: #FEE7C8;
}

header, footer{
    background-color: #E3E2F3;
    text-align: center;
}

header h1{
    font-family:Montserrat, sans-serif;
    color:#124E68;
}
    
nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding-bottom: 10px;
}

/* for index page */
.wrap{
    display: grid;
    grid-template-columns: 4fr 1fr;
    column-gap: 10 px;
}

ul.line {
    border-bottom: lightgray groove 2px;
}

li {
    list-style-type: none; 
    padding: 20px 0px; 
}

@media screen and (min-width: 600px){
    /* Navigation bar central axis change*/
    nav{
        flex-direction: row;
    }
    
    /* changes courses layout to grid */
    ul{
        display:grid;
        grid-template-columns: 1fr 4fr;
        gap: 20 px;
    }

    ul > li:first-child{
        margin-left:-2em;
        padding-bottom:40px;
    }

    ul > li:nth-child(2){
        margin-left:-2em;
        order: 3;
    } 

    ul > li:last-child{
        order: 2;
    } 

}
